version: "3.8"

services:
  frontend:
    build: ./frontend
    ports:
      - "3000:3000"
    container_name: frontend_app

  backend:
    build: ./backend
    ports:
      - "4000:4000"
    container_name: backend_app

